In [1]:
# Importing Necessory libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns
import matplotlib.pyplot as plt
link = 'https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/tennis.csv.txt'

game = pd.read_csv(link)
game

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [ ]:
game.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype 
---  ------    --------------  ----- 
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool  
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes
from sklearn import preprocessing
encode = preprocessing.LabelEncoder()
encode.fit(game['play'])
game['play'] = encode.transform(game['play'])
encode.fit(game['windy'])
game['windy'] = encode.transform(game['windy'])
encode.fit(game['humidity'])
game['humidity'] = encode.transform(game['humidity'])
encode.fit(game['temp'])
game['temp'] = encode.transform(game['temp'])

In [ ]:
encode.fit(game['outlook'])
game['outlook'] = encode.transform(game['outlook'])
Using LabelEncoder we have converted our string values in to int

# Label Encoder changes [play] no -> 0 & yes -> 1
# Label Encoder changes [windy] false -> 0 & true -> 1
# Label Encoder changes [humidity] High -> 0 & Normal -> 1
# Label Encoder changes [temp] Cool -> 0 & Hot -> 1 & mild -> 2
# Label Encoder changes [outlook] Overcast -> 0 & rainy -> 1 & Sunny -> 2

print(game)
print(game.info())
    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     int32
 1   temp      14 non-null     int32
 2   humidity  14 non-null     int32
 3   windy     14 non-null     int64
 4   play      14 non-null     int32
dtypes: int32(4), int64(1)
memory usage: 464.0 bytes
None

In [ ]:
game.info()
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     int32
 1   temp      14 non-null     int32
 2   humidity  14 non-null     int32
 3   windy     14 non-null     int64
 4   play      14 non-null     int32
dtypes: int32(4), int64(1)
memory usage: 464.0 bytes
 # store the feature matrix (X) and response vector (y)

X = game[['outlook', 'temp', 'humidity', 'windy']]
y = game['play']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
# training the model on training set

from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train)


# making predictions on the testing set
y_pred = gnb.predict(X_test)

In [ ]:
# comparing actual response values (y_test) with predicted response values (y_pred)
from sklearn import metrics
print("Gaussian Naive Bayes model accuracy(in %):", metrics.accuracy_score(y_test, y_pred)*100)
Gaussian Naive Bayes model accuracy(in %): 100.0